Source: check-smartvalues
Section: devel
Priority: optional
Maintainer: Maximilian Falkenstein <mfalkenstein@sos.ethz.ch>
Build-Depends: debhelper (>= 9),
  libswitch-perl, libjson-xs-perl, libtext-trim-perl, libtry-tiny-perl,
  libexception-class-perl
Standards-Version: 3.9.8
Homepage: https://github.com/NETWAYS/check_smartvalues
Vcs-Git: https://github.com/SOSETH/check_smartvalues.git
Vcs-Browser: https://github.com/SOSETH/check_smartvalues

Package: check-smartvalues
Architecture: all
Depends: ${perl:Depends}, smartmontools, libswitch-perl, libjson-xs-perl,
  libtext-trim-perl, libtry-tiny-perl, libexception-class-perl
Description: Check disk's SMART values
